@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-info">
    <h1 class="display-4">About Us</h1>
    <p>
        We are syfix a computer repi
        a company that have existed over 20yers under Sylarite sytems limite we've worked for over 200 companies
        and still counting we have faced a lot of hllenges in the past. but it has helped us to grow stronger and stroger4 in technology and help us to grow bigger in r4
    </p>
    </div>      