@{
    ViewData["Title"] = "Home Page";
}


    </br>
<div class="text-center p-3" style="background:black border-box">
    <h3 class="display-4 text-info">@ViewBag.Greeting Welcome to Syfix. We fix Computers like Laptops, Printers and all other computer systems</h3>
    <h2 class="text-white" style="font-weight:100;">Click on any of the button Below. To get a quick fix</h2>
    <a class="btn btn-outline-primary btn btn-lg" style="font-size:19px;" asp-action="CustomerForm"> Call Tobi</a>
    <a class="btn btn-outline-info btn btn-lg" style="font-size:19px;" href="tel:+2347087516022"> Whatsapp Lilian</a>


    <br />
</div>

<br />
<div class="container-fluid text-white p-3 border border-white" style="background: black; outline: white 25px; border-radius: 8px;">

    <h1 class="text-primary">Laptop Repair</h1>
    <p style="font-size: 25px;  font-family:Calibri">Call Tobi or Whatsapp Lilian if you are having any Problem related to your Laptop like screen issue, boot issues, keyboard issues and more. It will be rectified right away by just clicking any of the button bellow</p>
    <a class="btn btn-outline-primary btn btn-lg"  asp-action="CustomerForm"> Call Tobi</a>
    <a class="btn btn-outline-info btn btn-lg" asp-action="CustomerForm"> Whatsapp Lilian</a>
</div>


<br />

<div class="container-fluid text-white p-3 border border-white" style="background: black;border:6px; border-radius: 8px;">

    <h1 class="text-primary">Printer Repairs</h1>
  
    <p style="font-size: 25px;  font-family:Calibri">Call Tobi or Whatsapp Lilian if you are having any Problem related to your printers or photocopiers. It will be rectified right away by just clicking any of the button below</p>
    <a class="btn btn-outline-primary btn btn-lg"  asp-action="CustomerForm"> Call Tobi</a>
    <a class="btn btn-outline-info btn btn-lg"  asp-action="CustomerForm"> Whatsapp Lilian</a>

</div>
<br />
<div class="container-fluid text-white p-3 border border-white" style="background: black;border:thick 6px; border-radius: 8px;">

    <h1 class="text-primary">Phone Repairs</h1>
    <p style="font-size: 25px;  font-family:Calibri">Call Tobi or Whatsapp Lilian if you are having any Problem related to your phone. It will be rectified right away by just clicking any of the button below</p>
    <div class="link-primary">
        <a class="btn btn-outline-primary btn btn-lg"  asp-action="CustomerForm"> Call Tobi</a>
        <a class="btn btn-outline-info btn btn-lg"   href="tel:+2347087516022"> Whatsapp Lilian</a>
    </div>

</div>

<br />

<div class="container-fluid text-white p-3 border border-white" style="background: black;border:thick 6px; border-radius: 8px;">
    <h1 class="text-primary">ToShop</h1>
    <p style="font-size: 25px;">Buy your Computer Systems and Computer Accessories in Tobi's Shop</p>
    <p style="font-size: 25px;">Tobi will Recommend best computer products for you to use with quality and durability</p>
    <a class="btn btn-outline-primary btn btn-lg" style=" font-family:Century" href="tel:+2347087516022"> Call Tobi</a>
    <a class="btn btn-outline-info btn btn-lg" style=" font-family:Century" href="tel:+2347087516022"> Whatsapp Lilian</a>
</div>

