@model SYFIX.Models.CustomerResponse
@{

    Layout = null;
}
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-lumen.css" />
</head>
<body class="text-center" style="background: black">
    <div>
        
        <p class="text-white" style="font-size:30px">Finally click the button below and talk to Tobi</p>
  <p class="text-warning" style="font-size:25px"> Note: Call charges will be applied from your service provider </p>
       <a class="btn btn-primary" style="font-size: 25px" href="tel:+2347087516022">Call Tobi</a>
  
    </div>
    
</body>
</html>